nav{
  position: fixed;
  z-index: 999;
  height: 60px;
  width: 100%;
}

nav>p, button, li{
  margin-top: 4%;
}

.mg-top{
  margin-top: 60px;
}

img{
  max-height: 264px;
  width: auto;
  border-radius: 10px;
}

.star{
  margin-bottom: 10px;
}

.txt-w{
  color: #fff;
}

s{
   margin: 5px;
}

.back-bg{
  background-color: #1a2530;
}

.back-green{
  background-color: #1ABC9C;
}

.back-lgb{
  background-color: #3A546D;
}

.mg-in{
  margin-top: 10px;
  margin-bottom: 10px;
}

.pd-in{
  padding-top: 20px;
  padding-bottom: 20px;
}

.br-bttm{
  padding-left: 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid lightgray;
  border-radius: 0;
  box-shadow: none;
}

.w-60{
  width: 60%;
  margin: 0 auto;
}

.br-rad{
  border-radius: 50%;
  padding:10px;
  border: 1px solid #fff;
  font-size: 7px;
}

.txt-green{
  color: #1FAC95;
}

.fnt{
  font-size: 8px;
}